/*

Kids story

---------------------------------------------
Table of contents
---------------------------------------------
01. root
02. reset
03. global styles
04. preloader
05. header
06. welcome
07. features
08. contacts banner
09. extra services
10. video gallery
10. advantages
11. command gallery
12. contacts banner
13. about
14. feedbacks
15. location
16. footer
--------------------------------------------- 
*/


/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
:root{
  --basic_color: #8081BD;
  --text_color: #334155;
  --basic_yellow: #FDDC4E;
  --basic_red: #EA5D4A;

}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
html,
body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  font-size: 16px;

  background-image: url("../images/icons/Groupugr7.png"), url("../images/icons/Vectordsdsd.png");
  background-repeat: no-repeat;
  background-position: 0 45%, 50% 45.5%;
  background-size: auto, 100%;
}
.section{
  width: 100%;
  margin: 3.75em auto;
  border-radius: 20px;
}
h1{
  font-size: 6rem;
  line-height: 117px;
  font-weight: 700;
}
h2{
  font-size: 2.5rem;
  line-height: 49px;
  font-weight: 700;
}
h3{
  font-size: 2.25rem;
  line-height: 44px;
  font-weight: 600;
}
h4{
  font-size: 2rem;
  line-height: 39px;
  font-weight: 700;
}
h5{
  font-size: 1.25rem;
  line-height: 24px;
  font-weight: 500;
}
h6{
  font-size: 0.875rem;
  line-height: 17px;
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
}
p, .copyright {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 24px;
}
a {
  text-decoration: none;
}
strong{
  font-weight: 700;
}
img{
  max-width: auto;
}
.btn{
  width: fit-content;
  border-radius: 50px;
  padding: 0.6875em 0.75em;
  cursor: pointer;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.btn:hover{
  color: #fff;
}
.submit__btn{
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
}
::-webkit-scrollbar {
  display: block;
}
::selection, ::-moz-selection  {
  background: var(--basic_color);
  color: #fff;
}
input{
  max-width: 308px;
  width: 100%;
  height: 40px;
  padding: 14px 20px;
  background: #fff;
  caret-color: var(--basic_color);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 12px;
  color: var(--text_color);
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
label{
  margin: 1.5em 0 1.1875em; 
  color: #fff;
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 12px;
}
.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin: 1.5em 0;
  cursor: pointer;
  font-size: 10px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 0px solid #000;
  border-radius: undefinedpx;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #fff;
}
.control input:checked ~ .control_indicator {
  background: #fff;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #fff;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-radio .control_indicator {
  border-radius: 50%;
}
.control-radio .control_indicator:after {
  left: 4px;
  top: 4px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: var(--basic_red);
  transition: 250ms;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -ms-transition: 250ms;
  -o-transition: 250ms;
}
.control-radio input:disabled ~ .control_indicator:after {
  background: #7b7b7b;
}.control-radio .control_indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: var(--basic_color);
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}
@keyframes s-ripple {
  0% {
      opacity: 0;
      transform: scale(0);
  }
  20% {
      transform: scale(1);
  }
  100% {
      opacity: 0.01;
      transform: scale(1);
  }
}
@keyframes s-ripple-dup {
  0% {
    transform: scale(0);
  }
  30% {
      transform: scale(1);
  }
  60% {
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(1);
  }
}
.control-radio input + .control_indicator::before {
  animation: s-ripple 250ms ease-out;
}
.control-radio input:checked + .control_indicator::before {
  animation-name: s-ripple-dup;
}
li{
  list-style: none;
}
.owl-stage{
  display: flex;
  align-items: center!important;
}
.owl-nav button{
  width: 3.75em;
  height: 3.75em;
  background: transparent!important;
  border: 1px solid rgba(51, 65, 85, 1)!important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.owl-prev span, .owl-next span{
  font-size: 36px;
  font-weight: 400;
  color: var(--text_color);
}
.owl-dots{
  width: fit-content;
  margin: 0 auto;
}
.owl-dot{
  height: 14px;
  width: 14px;
  margin: 0.6875em;
  border-radius: 50px;
  background: var(--basic_yellow)!important;
  border-radius: 50px;
}
.owl-dot.active{
  background: var(--basic_red)!important;
}
/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/

/*PRELOADDER START*/
#preloader {
  overflow: hidden;
  background-image: linear-gradient(145deg, rgba(128, 129, 189, 1), rgba(128, 129, 189, 1));
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*PRELOADDER END*/


/*HEADER START*/
.header{
  background-color: #fff;
  position: sticky;
  top: 0px; /*TOP: 0; BOLSA IWLAMIYDI, TOP: 0PX; BOLSA IWLAYDI*/
  z-index: 999;
}
.header__top{
  padding: 1.0625em 0;
}
.header__top a{
  float: right;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.9375em;
  color: var(--basic_color);
}
.header__top a:hover{
  color: var(--basic_red);
}
.header__top a span{
  color: var(--basic_color);
}
.header__bottom{
  width: 100%;
  padding: 0 0 1.25em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__bottom__nav{
  display: flex;
  flex-wrap: wrap;
  gap: 0.9375em;
}
.header__bottom__nav .nav-item.active{
  border-bottom: 1px solid var(--text_color);
}
.header__bottom__nav .nav-item .nav-link{
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: var(--text_color);
}
.header__bottom .contact__number{
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1875rem;
}
.contact__number{
  width: fit-content;
  display: flex;
  align-items: end;
  flex-direction: column;
  column-gap: 0.375em;
  row-gap: 4px;
  font-family: 'Gotham Pro';
  font-style: normal;
  color: var(--text_color);
}
.contact__number span{
  font-weight: 700;
  font-size: 10px;
  line-height: 0.75em;
  color: var(--basic_red);
}
.nav__social{
  display: flex;
  gap: 24px;
}
.nav__social a{
  font-size: 24px;
  color: var(--basic_red)
}
.nav__button{
  color: #FFF;
  background: var(--basic_color);
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}
.hamburger__btn{
  display: none;
}
.header__bottom__nav .nav-item :where(.mobile__exit__icon, .nav__button, .contact__number){
  display: none;
}
.header__bottom__nav .nav-item.nav__social{
  display: none;
}
.container-fluid{
  animation: fadeIn ease 0.7s;
  -webkit-animation: fadeIn ease 0.7s;
  -moz-animation: fadeIn ease 0.7s;
  -o-animation: fadeIn ease 0.7s;
  -ms-animation: fadeIn ease 0.7s;
  display: none;
  width: 100%;
  background: linear-gradient(130.83deg, rgba(83, 84, 136, 0.8) 14.95%, rgba(96, 97, 157, 0.8) 79.77%);
  padding: 1.6875em 0;
  -webkit-animation: fadeIn ease 0.7s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  25% {opacity:0.25;}
  50% {opacity:0.5;}
  75% {opacity:0.75;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  25% {opacity:0.25;}
  50% {opacity:0.5;}
  75% {opacity:0.75;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  25% {opacity:0.25;}
  50% {opacity:0.5;}
  75% {opacity:0.75;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  25% {opacity:0.25;}
  50% {opacity:0.5;}
  75% {opacity:0.75;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  25% {opacity:0.25;}
  50% {opacity:0.5;}
  75% {opacity:0.75;}
  100% {opacity:1;}
}

.container-fluid .nav-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.375em;
}
.container-fluid .nav-menu .nav-item{
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5em;
}
.container-fluid .nav-menu .nav-item .nav-link{
  color: #FFF;
}
.container-fluid .nav-menu .nav-item.active .nav-link{
  color: var(--basic_red);
}
/*HEADER END*/



/*WELCOME BANNER START*/
.welcome__banner__section{
  height: 558px;
  margin: 0 auto;
  padding: 0 0 2.9375em;
  display: flex;
  flex-wrap: wrap;
  background: var(--basic_yellow);
  background-image: url("../images/icons/noroot 2.png"), url("../images/icons/1614600055_48-p-shkola-na-belom-fone-61 1.png"), url("../images/icons/n.png"), url("../images/icons/Group dots1.png"), url("../images/icons/Ver (1).png"), url("../images/icons/Vect2.png"), url("../images/icons/Vectovv.png");
  background-repeat: no-repeat;
  background-position: 20% 100%, 60% 100%, 30% 100%, 25% 100%, 0 100%, 0 0, 72% 0;
  background-size: auto;
  border-radius: 20px;
  position: relative;
}
.welcome__banner{
  max-width: 1349px;
}
.welcome__banner__carousel .owl-dots{
  display: none;
}
.welcome__banner__carousel__item{
  margin: 11em 0 3.75em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("../images/index-can.png");
  background-repeat: no-repeat;
  background-position: 60% 70%;
  background-size: auto;
}
.welcome__banner__carousel__item :where(h1, p){
  color: var(--text_color);
}
.welcome__banner__carousel__item p{
  max-width: 35%;
  /* margin: 0.6875em 0 3.75em; */
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.75rem;
}
.welcome__banner__carousel .owl-nav button:not(:last-child){
  margin-right: 2.1875em;
}
.welcome__banner__carousel .owl-nav :where(.owl-prev:focus, .owl-next:focus, .owl-prev:hover, .owl-next:hover){
  background: #FFFFFF85!important;
  border: 0 solid rgba(51, 65, 85, 1)!important;
}
.banner__form{
  width: 100%;
  border-radius: 20px;
}
.welcome__banner__form{
  width: 28.47%;
  height: 100%;
  background: var(--basic_color);
  padding: 2.5em 1.875em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}
.welcome__banner__form :where(h4, p){
  width: 85%;
  color: #fff;
}
.welcome__banner__form p{
  margin: 0.5625em 0 2.0625em;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.0625rem;
}
.welcome__banner__form input:not(:last-child){
  margin-bottom: 6px;
}
.form__label{
  width: 50%;
}
.form__text{
  width: 35%;
  margin: 1.6875em 0 1.9375em;
}
.form__text + input{
  margin-right: 1em;
}
.welcome__banner__form .submit__btn{
  background: var(--basic_red);
  color: #fff;
}
/*WELCOME BANNER END*/


/*FEATURES START*/
.section__label{
  margin: 40px 0;
  color: var(--basic_color);
}
.section__text{
  max-width: 60%;
  margin: 1.5em 0;
  color: var(--text_color);
}
.features{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.25em;
}
.features__item{
  max-width: 418.19px;
  width: 31%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 1.25em;
}
.features__item span{
  width: 4.75em;
  height: 4.75em;
  background: var(--basic_color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features__item:nth-child(1) span, .features__item:nth-child(5) span, .features__item:nth-child(9) span{
  background: var(--basic_yellow);
}
.features__item:nth-child(3) span, .features__item:nth-child(4) span, .features__item:nth-child(8) span{
  background: rgba(243, 172, 200, 1);
}
.features__item p{
  font-size: 0.75rem;
  line-height: 20px;
  color: var(--text_color);
}
/*FEATURES END*/


/*CONTACTS BANNER START*/
.contacts__banner__form, .contacts__second__banner__form{
  padding: 2.5em 0;
}
.contacts__banner__form{
  background: var(--basic_color);
  background-image: url("../images/icons/Positive_curious_schoolboy_in_casual_wear_looking_at_camera_through 1.png"), url("../images/icons/Group 4.png");
  background-repeat: no-repeat;
  background-position: 75% 0, 95% 50%;
  background-size: auto;
}
.contacts__banner__form :where(h2, p, label){
  color: #fff;
}
.contacts__banner__form .submit__btn{
  background: var(--basic_yellow);
  color: var(--text_color);
}
/*CONTACTS BANNER END*/



/*EXTRA SERVICES START*/
.extra__services{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 2em;
}
.extra__services__item{
  max-width: 36%;
  width: fit-content;
  padding: 0.75em 0.8125em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: #FFF6D1;
  border-radius: 10px;
}
.extra__services__item span{
  min-width: 4.75em!important;
  height: 4.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.extra__services__text{
  padding: 0.75em 0 0.75em 0.8125em;
  text-align: center;
}
.extra__services__text p{
  font-weight: 700;
  font-size: 1rem;
  color: var(--text_color);
}
/*EXTRA SERVICES END*/


/*VIDEO GALLERY START*/
.video__gallery__section{
  background-image: url("../images/icons/Vectjgyor.png"), url("../images/icons/Vectouy7r.png");
  background-repeat: no-repeat;
  background-position: 62% 35%, 38% 90%;
  background-size: auto;
}
.video__gallery__carousel__item video{
  width: 100%!important;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.owl-item .video__gallery__carousel__item{
  min-width: 280px;
  width: 320px!important;
  opacity: 0.66;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.owl-item.center .video__gallery__carousel__item{
  width: 100%!important;
  opacity: 1;
}
.owl-item.center .video__gallery__carousel__item video{
  width: 80%!important;
}
/*VIDEO GALLERY END*/


/*COMMAND GALLERY START*/
.command__gallery__section{
  position: relative;
  background-image: url("../images/icons/Vectordd.png"), url("../images/icons/Vectorddd.png");
  background-repeat: no-repeat;
  background-position: 25% 0, 73% 100%;
  background-size: auto;
}
.modal{
  position: fixed;
}
.command__gallery__carousel{
  width: 89%!important;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.command__gallery__carousel__item{
  max-width: 268px;
  margin: 0 16px;
}
.card__avatar__name{
  margin: 0.9375em 0 0.6875em;
  font-weight: 500;
  color: var(--text_color);
}
.card__avatar__name strong{
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic_color);
}
.card__avatar__text{
  font-size: 0.875rem;
  line-height: 1.0625em;
  color: var(--text_color);
}
.command__gallery__carousel .owl-nav{
  display: initial;
}
.command__gallery__carousel .owl-nav button{
  border: 1px solid var(--basic_color)!important;
  position: absolute;
  top: 45%;
}
.command__gallery__carousel .owl-nav .owl-prev{
  left: -5%;
}
.command__gallery__carousel .owl-nav .owl-next{
  right: -5%;
}
.command__gallery__carousel .owl-nav button span{
  color: var(--basic_color);
}
.command__gallery__carousel .owl-nav :where(button:focus, button:hover){
  background: #8081BD85!important;
  border: 1px solid var(--basic_color)!important;
}
/*COMMAND GALLERY END*/


/*CONTACTS SECOND BANNER START*/
.contacts__second__banner__form{
  background: rgba(255, 246, 209, 1);
  background-image: url("../images/icons/norooot.png"), url("../images/icons/Groupss 4.png");
  background-repeat: no-repeat;
  background-position: 75% 0, 95% 50%;
  background-size: auto;
}
.contacts__second__banner__form :where(h2, p, label){
  color: var(--text_color);
}
.contacts__second__banner__form .submit__btn{
  background: var(--basic_red);
  color: #fff;
}
/*CONTACTS SECOND BANNER END*/


/*ABOUT START*/
.about__text{
  max-width: 100%;
  font-weight: 700;
  color: var(--basic_red);
}
.about__section__list__item{
  max-width: 100%;
  margin: 0.625em 0;
  list-style: initial!important;
}
/*ABOUT END*/



/*FEEDBACKS START*/
.feedbacks__section{
  padding: 2em 0;
  background: rgba(242, 242, 255, 1);
  position: relative;
  background-image: url("../images/icons/Vectorcdcd.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: auto;
}
.feedbacks__section__label{
  margin: 0;
}
.feedbacks__carousel{
  width: 90.8%!important;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.feedbacks__carousel .owl-stage-outer .owl-stage .owl-item.active{
  max-width: 574px!important;
}
.feedbacks__carousel__card{
  height: 247px;
  margin: 2.5em 0 1.313em;
  background-color: #fff;
  padding: 2.1875em;
  border-radius: 20px;
}
.feedbacks__carousel__card__header{
  display: flex;
  gap: 1.25em;
  align-items: center;
}
.feedback__avatar{
  width: 3.75em;
  height: 3.75em;
  background: var(--basic_color);
  border-radius: 30px;
}
.feedback__avatar__text :where(h5, span){
  width: 100%;
  color: #334155;
}
.feedback__avatar__name{
  font-weight: 600;
  line-height: 1.5rem;
}
.feedback__avatar__location{
  font-weight: 500;
  font-size: 0.875em;
  line-height: 1.0625rem;
}
.feedbacks__carousel__card__body__text{
  max-width: 100%;
  margin-top: 1.3125em;
}
.read__feedback__link__btn{
  font-weight: 600;
  font-size: 1em;
  line-height: 1.25em;
  color: #334155;
  margin: 1.3125em 2.1875em!important;
}
.feedbacks__carousel .owl-nav{
  display: initial!important;
}
.feedbacks__carousel .owl-nav button{
  border: 1px solid var(--basic_color)!important;
  position: absolute;
}
.feedbacks__carousel .owl-nav button:not(:last-child){
  margin: 0;
}
.feedbacks__carousel .owl-nav button{
  top: 45%;
}
.feedbacks__carousel .owl-nav .owl-prev{
  left: -5%;
}
.feedbacks__carousel .owl-nav .owl-next{
  right: -5%;
}
.feedbacks__carousel .owl-nav button span{
  color: var(--basic_color);
}
.feedbacks__carousel .owl-nav :where(button:focus, button:hover){
  background: #8081BD85!important;
  border: 1px solid var(--basic_color)!important;
}
.feedbacks__carousel .owl-dots{
  margin: 2em auto 0;
}
/*FEEDBACKS END*/


/*LOCATION START*/
#map{
  width: 100%;
  height: 31.313em;
  border-radius: 20px;
}
/*LOCATION START*/



/*FOOTER START*/
.footer{
  background-image: url("../images/icons/Vectoraq.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: auto;
}
.footer__top{
  padding: 1.625em 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
.footer__widget{
  width: fit-content;
  color: var(--text_color);
}
.footer__widget__label{
  margin: 2.5em 0 1.25em;
  color: var(--text_color);
}
.footer__widget__list.footer__contacts .footer__widget__list__item:not(:last-child){
  margin-bottom: 2em;
}
.footer__widget__list__item{
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375em;
}
.footer__widget__list__item:not(:last-child){
  margin-bottom: 0.3125em;
}
.footer__widget__list__item a{
  color: var(--text_color);
}
.footer__widget__list__item .contact__number{
  max-width: 315px;
  font-size: 2.5rem;
}
.footer__widget__list__item .contact__number span{
  margin: 0 auto 0 10%;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--text_color);
}
.footer__widget__list__item .address__link{
  font-size: 0.875rem;
  line-height: 1.0625em;
  color: var(--text_color);
}
.footer__bottom{
  width: 100%;
  padding: 1em;
  text-align: center;
}
.copyrights{
  text-decoration: underline;
}
/*FOOTER START*/




@media (min-width: 992px) and (max-width: 1200px){

}

@media (min-width: 768px) and (max-width: 991.99px){

}

@media (min-width: 580px) and (max-width: 767.99px){

}

@media (min-width: 0) and (max-width: 579.99px){
html,
body {
  padding: 0.864em;
  font-size: 6.6666px;
  /* background-image: url("../images/icons/Groupugr7.png"), url("../images/icons/Vectordsdsd.png");
  background-repeat: no-repeat;
  background-position: 0 45%, 50% 45.5%;
  background-size: auto, 100%; */
}


.section{
  margin: 3.75em auto;
}
/* .container {
  padding: 1em 1.5em;
} */
h1{
  font-size: 40px;
  line-height: 49px;
}
h2{

}
h3{

}
h4{
  font-size: 20px;
  line-height: 24px;
}
h5{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
h6{

}

p, .copyright {
  font-size: 12px;
  line-height: 15px;
}
.submit__btn{
  padding: 10px;
}
input{
  padding: 14px 16px;
}
label{
  margin: 11px 0; 
}
.owl-stage{
  display: flex;
  align-items: center!important;
}
.owl-nav{
  display: none!important;
}
.owl-dots{
  width: fit-content;
  margin: 0 auto;
}
.owl-dot{
  height: 9.74px;
  width: 9.74px;
  margin: 0.6875em;
}
/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/

/*HEADER START*/
.header{
  background-color: #fff;
  position: sticky;
  top: 0px; /*TOP: 0; BOLSA IWLAMIYDI, TOP: 0PX; BOLSA IWLAYDI*/
  z-index: 999;
}
.header__top{
  display: none;
}
.header__bottom{
  padding: 0 0 1.25em;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
}
.nav__brand img{
  max-width: 130px;
}
.hamburger__btn{
  display: initial;
  cursor: pointer;
}
.fa-bars{
  color: var(--basic_color);
  font-size: 24px;
}
.header__bottom__nav {
  display: none;
}
.header__bottom__nav.active{
  padding: 20px;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  align-items: end;
  flex-direction: column;
  gap: 27px; 
  margin-left: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background: linear-gradient(130.83deg, rgba(128, 129, 189, 0.8) 14.95%, rgba(128, 129, 189, 0.8) 80%);
  animation-name: mobile-menu;
  
}
@keyframes mobile-menu {
  0% {
    opacity: 0;
    width: 0;
  }
  20% {
    opacity: 0.16;
    width: 18%;
  }
  40% {
    opacity: 0.32;
    width: 36%;
  }
  60% {
    opacity: 0.48;
    width: 54%;
  }
  80% {
    opacity: 0.64;
    width: 72%;
  }
  100% {
    opacity: 0.8;
    width: 90%;
  }
}
.header__bottom__nav .nav-item.active{
  border: 0;
}
.header__bottom__nav .nav-item .nav-link{
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
.header__bottom__nav .nav-item.active .nav-link{
  color: var(--basic_red);
}
.header__bottom__nav .nav-item :where(.mobile__exit__icon, .nav__button, .contact__number, .nav__social){
  display: initial!important;
}
.fa-times{
  font-size: 24px;
}
.header__bottom__nav .nav-item .nav__button{
  background: #FFF;
  color: var(--text_color);
}
.nav__button{
  width: 100%;
  background: var(--basic_red);
}
.header__bottom__nav .nav-item .contact__number{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex!important;
  flex-direction: column;
}
.header__bottom__nav .nav-item .contact__number span{
  color: #fff;
}

.header__bottom .contact__number{
  display: none;
}
.nav__social{
  display: flex;
  gap: 16px;
  margin-left: auto;
}
.header__bottom__nav .nav-item.nav__social{
  display: flex;
}
.header__bottom__nav .nav-item.nav__social a{
  color: #fff;
}
/*HEADER END*/
}
